<!-- templates/upload.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Center Web Tools</title>
</head>
<body>

<h1>Group Center Web Tools</h1>

<div>
    <h2>Web API</h2>

    <br/>

    <a href="/api/net/get-ip">/api/net/get-ip 获取本机的内网IP</a>

    <br/>
</div>

<br/>

<div>
    <h2>Tools</h2>

    <br/>

    <a href="/pdf/spilt">/pdf/spilt PDF颜色分割(打印区分彩打+黑白)</a>

    <br/>
</div>

</body>
</html>
